/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  font-size: 14px;
  /*background-color: #d9ead3;*/
  color: #444;
  background-color: #fff;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body, input, select {
  font-family: sans-serif;
}

strong {
  font-weight: bold;
}

input[type=text].error {
  border: 1px solid rgba(255, 0, 0, 0.4);
}

input[type=text],
select {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  background-color: white;
  height: 2em;
}

input:focus {
  outline: none;
}

body {
  padding: 2em;
  font-size: 16px;
}

.container > div {
  display: flex;
  flex-wrap: wrap;
}

.list {
  flex-grow: 1;
}

.list li {
  padding: 0.25em;
}

.list a {
  color: green;
}

.list a:hover {
  text-decoration: underline;
}

.list li + li {
  border-top: 1px dotted #ddd;
}

.form {
  flex-grow: 1;
}

.form input {
  width: 28em;
  color: #777;
}

.action {
  flex-basis: 100%;
  margin-top: 1em;
}

.feedback-wrapper {
  flex-basis: 100%;
}

.feedback {
  padding: 0.25em;
  background-color: lightgreen;
  border: 1px solid green;
}
